* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Back {
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;

}

.Logo {
    float: left;

}

.RightCon a {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
    cursor: pointer;
    display: block;
}

.RightCon a {
    color: white;
}


.Nave {
    padding-bottom: 100px;
}

nav {
    background: #162447;
}

.Profile {
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 230px;
    margin-top: 25px;
    border-radius: 100%;
}

.Pic {
    border-radius: 200%;
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 230px;
    z-index: 99;
    margin-top: 30px;
}


.MainText {
    font-size: 50px;
    font-family: 'Play',
        sans-serif;
}

.SecText {
    font-size: 20px;
    font-family: 'Play',
        sans-serif;
}

.IntSection {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1f4068;
    height: 50%;
}

.MyName {
    font-size: 50px;
    color: white;
    font-family: 'Play',
        sans-serif;
    align-items: center;
    text-align: center;
}

.MyBio {
    font-size: 20px;
    color: white;
    align-items: center;
    text-align: center;
    width: 700px;
    z-index: 2;

}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
    width: 30%;
    padding: 0 20px;

}

.card {
    margin-top: 30px;
    align-items: center;
    align-self: center;
    min-width: 100px;
    justify-content: center;
    left: 0;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;

}

.APic {
    align-items: center;
    align-self: center;
    text-align: center;
    justify-content: center;
}

@media (max-width : 770px) {
    .MainText {
        font-size: 40px;
    }

    .SecText {
        font-size: 20px;
    }

    .MyName {
        font-size: 30px;

    }

    .MyBio {
        font-size: 20px;

    }

    .Pic {
        width: 90%;
    }

    .Profile {
        width: 90%;
    }

    .outer-div {
        width: 100%;
    }

    .inner-div {
        width: 100%;
    }

    .APic img {
        width: 50%;
        height: 50%;
    }

    .skiTit {
        font-size: 80%;
    }

    .card h5 {
        font-size: 80%;
    }

    .nav-link {
        font-size: 80%;
    }
}

@media (max-width : 992px) {
    .APic img {
        width: 80%;
        height: 80%;
        align-items: center;
        margin: 0 auto;
        left: 0;
        right: 0;

    }

    .skiTit {
        font-size: 80%;
    }

    .card h5 {
        font-size: 80%;
    }

    .nav-link {
        font-size: 80%;
    }
}

.outer-div {
    height: 300px;
    overflow: hidden;
    width: 40%;
}

.inner-div {
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    transition: all 0.7s ease;
}

.inner-div:hover {
    transform: scale(1.2) rotate(8deg);
}

.APic img {
    width: 100px;
    height: 100px;
    align-items: center;
    margin: 0 auto;
    left: 0;
    right: 0;
    display: block;
    margin-top: 50px;
}

.APic img:hover {
    transition: 0.5s;
    transform: scale(1.2) rotate(360deg);
}

.SkillsBk {
    background-color: #1b1b2f;
    width: 100%;
    padding-bottom: 30px;
}

.skiTit {
    color: #467bbb;
    font-weight: bold;
}