* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Back {
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 100%;

}

.Nave {
    padding-bottom: 100px;
}

nav {
    background: transparent;
}

.Profile {
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    width: 250px;
    margin-top: 20px;
    border-radius: 100%;
}


.FirstPart {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    z-index: -1;
    background-color: #343a40;
    rotate: 50%;
}

.MainText {
    font-size: 50px;
    font-family: 'Play',
        sans-serif;
}

.SecText {
    font-size: 20px;
    font-family: 'Play',
        sans-serif;
}

.IntSection {
    margin-top: 50px;
    padding-top: 50px;
    background-color: rgb(255, 182, 46);
}


@media (max-width : 770px) {
    .MainText {
        font-size: 40px;
    }

    .SecText {
        font-size: 20px;
    }
}