.App {
  text-align: center;
  font-family: 'Play',
    sans-serif;
}

html {
  --bg: rgb(72, 71, 71);
  --white: #fff;
  --dblue: rgb(47, 46, 46);
  --bgray: rgb(41, 40, 40);
  --black: rgb(25, 25, 25);
  --blacks: rgb(17, 17, 17);
  --hoverr: red;
  --button: rgb(255, 60, 60);
  --bh: rgb(255, 52, 52);
}



html[data-theme='dark'] {
  --hoverr: #1b1b2f;
  --bgray: #1f4068;
  --black: #1b1b2f;
  --bg: #fff;
  --white: #000;
  --dblue: #1f4068;
  --blacks: #00549e;
  --button: #00549e;
  --bh: #2f6ca0;
}